<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="TeamCity" value="http://teamcity.stratuslivedemo.com/guestAuth/app/nuget/v1/FeedService.svc" />
    </packageSources>
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
          <package pattern="*" />          
        </packageSource>
        <packageSource key="TeamCity">
          <package pattern="StratusLive.*" />
          <package pattern="PaymentProcessorService.*" />
          <package pattern="BrandService.API" />
          <package pattern="StratusLive.PlatformCore.API.Common" />
          <package pattern="FundraiserService.API" />
          <package pattern="EventService.API" />
          <package pattern="PageBuilderService.API" />
          <package pattern="UrlShortenerService.API" />
          <package pattern="EntityLinkService.API" />
          <package pattern="DonationService.API" />
          <package pattern="CommunityService.API" />
          <package pattern="PlatformIntegrationService.API" />          
          <package pattern="FundraisingOrgs.CharityService.API" />
          <package pattern="PartnerService.API" />
          <package pattern="OrganizationService.API" />
        </packageSource>        
      </packageSourceMapping>
</configuration>